# ==============================================================================
# CORE APPLICATION
# ==============================================================================
APP_NAME=
APP_ENV=local
APP_KEY=
APP_DEBUG=true
APP_URL=
APP_FRONTEND_URL=

APP_LOCALE=en
APP_FALLBACK_LOCALE=en
APP_FAKER_LOCALE=en_US

APP_MAINTENANCE_DRIVER=file

# ==============================================================================
# SECURITY, AUTH & CORS
# ==============================================================================
AUTH_GUARD=api
BCRYPT_ROUNDS=12
AUTH_VERIFICATION_EXPIRE=60

CORS_ALLOWED_ORIGINS=*
CORS_SUPPORTS_CREDENTIALS=true

AUTH_COOKIE_DOMAIN=null
AUTH_COOKIE_SECURE=false
AUTH_COOKIE_SAMESITE=lax

# ==============================================================================
# DATABASE (POSTGRESQL)
# ==============================================================================
DB_CONNECTION=pgsql
DB_HOST=127.0.0.1
DB_PORT=5432
DB_DATABASE=
DB_USERNAME=postgres
DB_PASSWORD=

# ==============================================================================
# REDIS & CACHING
# ==============================================================================
CACHE_STORE=redis
CACHE_PREFIX=

REDIS_CLIENT=phpredis
REDIS_HOST=127.0.0.1
REDIS_PASSWORD=null
REDIS_PORT=6379
REDIS_PREFIX="${APP_NAME}:"
REDIS_CACHE_DB=0
REDIS_QUEUE_DB=1

# ==============================================================================
# QUEUE & MESSAGE BROKER (RabbitMQ)
# ==============================================================================
QUEUE_CONNECTION=redis
REDIS_QUEUE_CONNECTION=queue

RABBITMQ_HOST=127.0.0.1
RABBITMQ_PORT=5672
RABBITMQ_USER=guest
RABBITMQ_PASSWORD=guest
RABBITMQ_VHOST=/
RABBITMQ_EXCHANGE_NAME=microservices.topic
RABBITMQ_QUEUE=user_service_integration_events

# ==============================================================================
# OAUTH / PASSPORT CLIENTS (Frontend Systems, Machines?, or API?)
# ==============================================================================
PASSPORT_PMS_CLIENT_ID=
PASSPORT_PMS_CLIENT_SECRET=

PASSPORT_HERDIN_CLIENT_ID=
PASSPORT_HERDIN_CLIENT_SECRET=

PASSPORT_PHRR_CLIENT_ID=123
PASSPORT_PHRR_CLIENT_SECRET=123

# ==============================================================================
# SOCIAL PROVIDERS
# ==============================================================================
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
GOOGLE_REDIRECT_URI="${APP_FRONTEND_URL}/auth/google/callback"

# ==============================================================================
# LOGGING & MISC (Filesystem, Mail, Session)
# ==============================================================================
LOG_CHANNEL=stack
LOG_STACK=single
LOG_DEPRECATIONS_CHANNEL=null
LOG_LEVEL=debug

BROADCAST_CONNECTION=log
FILESYSTEM_DISK=local

SESSION_DRIVER=array
MAIL_MAILER=array
